body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  125px;
  color: #FEF2BF;
}

#game-instructions-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
}

#game-instructions {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #FEF2BF;
  max-width: 1200px;
}

#reset-button {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  background-color: #FEF2BF;
  padding: 10px 30px;
  border: 5px solid black;
  border-radius: 10px;
}

.game-instructions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container {
  display: block;
  width: 50%;
  margin: auto;
  margin-bottom: 125px;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
